body {
  --chula-pink: #de5c8e;
  --chula-pink-dark: #c5527e;

  min-height: 100vh;
  font-family: "Prompt", sans-serif;

  background: url("../img/bg-mobile.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.topbar {
  display: flex;
  height: 80px;
  padding-left: 28px;
  align-items: center;
  color: var(--chula-pink);
  font-size: 24px;
}

.logo {
  width: 28px;
  margin-right: 30px;
}

.register-card {
  /* USER CODE Begin: Style the card */
  background-color: #fff;
  width: 85%;
  margin: 40px 0 80px 0px;
  padding: 36px 58px 69px 59px;
  border-radius: 5px;
  font-family: "Prompt";
  /* USER CODE End: Style the card */
}

.title {
  margin: 0;
  font-size: 3em;
  line-height: 1.5em;
}

.subtitle {
  margin: 0;
  font-size: 0.875em;
}

#register-form {
  margin-top: 30px;
}

input {
  /* USER CODE Begin: Style the input field */
  /* Done so with Bootstrap */
  /* USER CODE END: Style the input field */
}

.input-div {
  margin-top: 15px;
  margin-bottom: 15px;
}

input:hover {
  border-color: #acacac;
}

input:focus {
  outline: none;
  border-color: #888888;
}

.form-control.error {
  border: 2px solid #e74c3c;
}

.form-control.success {
  border: 2px solid #2ecc71;
}

.message {
  color: #e74c3c;
}

button {
  /* USER CODE Begin: Style the button */
  /* Done so with Bootstrap */
  /* USER CODE END: Style the button */
}

button:hover {
  background: var(--chula-pink-dark);
  color: #fff !important;
}

.kite,
.cloud,
.footer {
  /* USER CODE Begin: Hide it */
  display: none;
  /* USER CODE END: Hide it  */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* USER CODE Begin: Manage screen width */
@media screen and (min-width: 768px) {
  /* USER CODE END: Manage screen width */
  body {
    background: url("../img/bg-desktop.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .topbar {
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
    padding-left: 160px;
    font-size: 24px;
  }

  .register-card {
    flex: 1;
    margin: 86px 0 88px 0px;
    padding: 36px 58px 69px 59px;
    max-width: 377px;
    z-index: 3;
  }

  #images {
    position: relative;
  }

  .kite {
    /* USER CODE Begin: Control kite */
    display: block;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 2;
    /* USER CODE END: Control kite */
  }

  .cloud {
    /* USER CODE Begin: Style cloud */
    display: block;
    /* USER CODE END: Style kite */
  }

  .cloud.cloud1 {
    /* USER CODE Begin: Control cloud1 */
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    /* USER CODE END: Control cloud1 */
  }

  .cloud.cloud2 {
    /* USER CODE Begin: Control cloud2 */
    position: absolute;
    top: 250px;
    left: 450px;
    z-index: 1;
    /* USER CODE END: Control cloud2 */
  }

  .cloud.cloud3 {
    /* USER CODE Begin: Control cloud3*/
    position: absolute;
    top: 450px;
    left: 100px;
    z-index: 1;
    /* USER CODE END: Control cloud3 */
  }

  input {
    /* USER CODE Begin: Style the input field */
    /* Done so with Bootstrap */
    /* USER CODE END: Style the input field */
  }

  #register-form {
    margin-top: 40px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 122px 72px 0;
  }

  .contact-logo {
    margin-left: 36px;
  }

  .content {
    justify-content: space-between;
    margin-right: 122px;
  }
}
